
<div>
    <div *ngIf="!editMode && !detailsMode">
        {{ ticketDisplay.id }} {{ ticketDisplay.requester_name }} {{ ticketDisplay.title}} {{ ticketDisplay.status }} 
        {{ ticketDisplay.assignee_name }}
        <button (click)="viewDetails()">View Details</button>
    </div>

    <!--details mode-->
    <div *ngIf="detailsMode">
        {{ ticketDisplay.id }} {{ ticketDisplay.title}}<br>
        {{ ticketDisplay.status }} <br>
        {{ ticketDisplay.requester_name }}                 {{ ticketDisplay.assignee_name }} <br>
        {{ ticketDisplay.requester_email }}                {{ ticketDisplay.assignee_email }} <br>
        {{ ticketDisplay.details }} <br>
        {{ ticketDisplay.resolution }}                     {{ ticketDisplay.resolvedby_name }}

        
        <button (click)="turnOnEdit()">Edit</button>
        <button (click)="deleteMe()">Delete</button>
    </div>

    <!--Edit mode-->
    <div *ngIf="editMode && !detailsMode">

        <!--Need to change once api is calling users so we can use the list of users in the drop down list-->
        Title: <input type="text" [(ngModel)]="this.ticketDisplay.title" /><br />
        
        Status:
        <select [(ngModel)]="this.ticketDisplay.status">
            <option>Open</option>
            <option>In Progress</option>
            <option>Closed</option>
        </select>

        Requested By:
        <select [(ngModel)]="this.ticketDisplay.requester_id">
            <option *ngFor="let user of TheUsers" [value]="user.user_id">{{ user.user_name }}</option>
        </select>

        Details: <input type="text" [(ngModel)]="this.ticketDisplay.details" /><br />

        Assigned To:
        <select [(ngModel)]="this.ticketDisplay.assignee_id">
            <option *ngFor="let user of TheUsers" [value]="user.user_id">{{ user.user_name }}</option>
        </select>
        

        Resolved By:
        <select [(ngModel)]="this.ticket.resolvedby_id">
            <option *ngFor="let user of TheUsers" [value]="user.user_id">{{ user.user_name }}</option>
        </select>

        Resolution: <input type="text" [(ngModel)]="this.ticketDisplay.resolution" /><br />

        <button (click)="saveChanges()">Save</button>
        <button (click)="cancel()">Cancel</button>
    </div>
</div>