
<div>
    <div *ngIf="!editMode && !detailsMode">
        {{ ticket.id }} {{ ticket.requester_name }} {{ ticket.title}} {{ ticket.status }} {{ ticket.assignee_name }}
        <button (click)="viewDetails()">View Details</button>
    </div>

    <!--details mode-->
    <div *ngIf="detailsMode">
        {{ ticket.id }} {{ ticket.title}}<br>
        {{ ticket.status }} <br>
        {{ ticket.requester_name }}                 {{ ticket.assignee_name }} <br>
        {{ ticket.requester_email }}                {{ ticket.assignee_email }} <br>
        {{ ticket.details }} <br>
        {{ ticket.resolution }}                     {{ ticket.resolvedby_name }}

        
        <button (click)="turnOnEdit()">Edit</button>
        <button (click)="deleteMe()">Delete</button>
    </div>

    <!--Edit mode-->
    <div *ngIf="editMode">

        <!--Need to change once api is calling users so we can use the list of users in the drop down list-->
        <label for="requester">Requested By:</label>
        <select class="form-control" id="requester" [(ngModel)]="editObject.requester_name" name="requester_name" required>
            <option value="Brynn">Brynn Hamilton</option>
            <option value="Ali">Ali Abbiss</option>
            <option value="Chris">Christian Boos</option>
        </select>
        <button (click)="saveChanges()">Save</button>
        <button (click)="cancel()">Cancel</button>
    </div>
</div>