<div *ngIf="!addMode">
    <button (click)="showAddForm()">New Ticket</button>
    <ng-container *ngFor="let ticket of TheList">
        <app-ticketview-detail [ticketDisplay]="ticket"
        (delete)="deleteOne($event)"
        (update)="updateOne($event)"
        ></app-ticketview-detail>
    </ng-container> 
</div> 

<div *ngIf="addMode">
    <div>

        <h1>Add New Ticket</h1>

        Title: <input type="text" /><br />
        
        Status:
        <select>
            <option>Open</option>
            <option>In Progress</option>
            <option>Closed</option>
        </select>

        Requested By:
        <select>
            <option *ngFor="let user of TheUsers" [value]="user.user_id">{{ user.user_name }}</option>
        </select>

        Details: <input type="text" /><br />

        Assigned To:
        <select>
            <option *ngFor="let user of TheUsers" [value]="user.user_id">{{ user.user_name }}</option>
        </select>
            
        Resolved By:
        <select>
            <option *ngFor="let user of TheUsers" [value]="user.user_id">{{ user.user_name }}</option>
        </select>

        Resolution: <input type="text" /><br />
        <button (click)="addTicket()">Save</button>
        <button (click)="cancelTicket()">Cancel</button>

    </div>
</div>
